<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
</header>
<body>
<form action="/cancelOrder" class="JoinInfoz" method="post">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="id" th:value="${idz}">
    <input type="hidden" name="infostatus" th:value="2">
    <div class="Buttonz">
        <input id="submitz" type="submit" value="确认">
        <button id="resetz" type="button" data-dismiss="modal" aria-label="Close">取消</button>
    </div>
</form>
</body>
</html>