<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<header>
    <meta charset="UTF-8">
</header>
<body>
<div class="passwordChange">
    <div class="dataTitle"><a style="text-decoration: none;" href="/personalCenter">基本资料</a>
        修改密码</div></div>
    <form action="/changePassword" id="passwordChange" class="updatePerson" method="post">
        <input id="id" type="hidden" name="id" th:value="${session.users.id}">
        <div class="updatePersons">
            <div class="updatePersonsTitle">新密码 :</div>
            <input id="newPassword" type="password" name="password">
        </div>
        <div class="updatePersons">
            <div class="updatePersonsTitle">再次确认 :</div>
            <input id="confirmPassword" type="password" name="confirmpassword">
        </div>
        <div class="updateButton">
            <input id="submits" onclick="changePasswords()" type="button" value="保存">
            <input id="reset" type="reset" value="重置">
        </div>
    </form>
</div>
</body>
</html>